bamboo:
  username: myusername
  password: mypassword
  build_urls:
    - https://<bamboo-server-url>/builds/rest/api/latest/result/<build-plan-key>
    - https://<bamboo-server-url>/builds/rest/api/latest/deploy/dashboard/<deployment-project-id>
  delay: 20
bitrise:
  token: mytoken
  build_urls:
    - https://api.bitrise.io/v0.1/apps/<slug-id>/builds
  delay: 20
leds:
  myname:
    - 1
    - 2
    - 3
lcd:
  rs: 26
  en: 19
  d4: 13
  d5: 6
  d6: 5
  d7: 11
